@media (min-width: 728px) {
  .footer {
    margin-right: 13%;
  }
}
@media (min-width: 1024px) {
  .footer {
    margin-right: 13%;
  }
}
@media (max-width: 414px) {
  .footer {
    margin-right: 8%;
  }
}
button {
  height: 20px;
  width: 25px;
  line-height: 20px;
  mat-icon {
    color: rgb(238, 175, 58);
  }
}
.bookimg {
  width: 120px;
  height: 150px;
}
.twocards {
  width: 350px;
}
mat-card {
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 8px 8px #fff inset !important;
}
.giverating {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  width: 350px;
}
.rating {
  margin-top: 4%;
  margin-left: -1%;
}
.singlecard {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  width: 71%;
}
