.rating {
  margin: 5%;
}
@media (min-width: 728px) {
  .footer {
    margin-right: 13%;
  }
}
@media (min-width: 1024px) {
  .footer {
    margin-right: 13%;
  }
}
@media (max-width: 414px) {
  .footer {
    margin-right: 8%;
  }
}
button {
  height: 20px;
  width: 25px;
  line-height: 20px;
  mat-icon {
    color: rgb(238, 175, 58);
  }
}
