.backcontainer{
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    margin-bottom: -10px;
  }
  mat-card{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    margin-top: 50%;
    margin-bottom: -20px;
    padding-bottom: 10px;
  }
  .page{
    padding: 5px;
  }
  mat-card-content{
    margin-left: 7%;
  }
  .book{
    padding-bottom: 10px;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 9%;
  }
