<div class="backcontainer" fxLayout="column" fxLayoutAlign="start none">
    <mat-toolbar>
    <mat-toolbar-row>
    
        <button  (click)="onCart()" class="cart">
            <mat-icon color="primary"> 
                <img class="bookimage" src="assets/images/education@2x.png" > 
            </mat-icon>   
         </button>

        <div class="booktext">BookStore</div>
    <div class="searchIcon" fxLayout="row" fxLayoutAlign="center center" style="margin-left:123px;">
        <div class="iconcam">
        <mat-icon style="padding-top: 5px;">searchIcon</mat-icon>  
        </div>
      <input class="searchInput" placeholder="Search..."   (click)="onsearch()"  autocomplete="off" >
    </div>

    <div fxLayout="row" fxLayoutAlign="end center"  style="margin-left: 347px" >
    <div style="height: 30px;font-size: large;color: white;"  (click)="onCart()">Cart</div>
    <button  (click)="onCart()" class="cart">
        <mat-icon color="primary"> 
            <img class="image" src="assets/images/supermarket@2x.png"  > 
        </mat-icon>   
     </button>
     </div>
     <div fxLayout="row" fxLayoutAlign="end center" style="margin-left: 36px;">
        <button   mat-icon-button  fxShow="true" width="30" [matMenuTriggerFor]="beforeMenu" >
            <img class="image2"  src="assets/images/Indian-Army-4.jpg" > 
          </button>   
        
          <mat-menu #beforeMenu="matMenu" xPosition="before">
             <button mat-menu-item>Item 1</button>
             <button mat-menu-item>Item 2</button>
             <!-- <div  fxLayout="column" fxLayoutAlign="center center" style="width: 278px;height: 272px;">
                <br>
              <img class="image3" src={{image}} (click)="images()"> <br>
              <mat-icon class="iconcam">add_a_photo</mat-icon>  
                    <br><br>
                    MorramShetty SaiKiran
                         <br>
                     <input type="text"  placeholder="msaikiran201@gmail.com" style="border: none;">
                     <br>
                    <button mat-menu-item  (click)="account()" style="text-align: center;margin-bottom: -35px;">LogOut</button>
                  </div> -->
           </mat-menu>
        </div>
    </mat-toolbar-row>
   </mat-toolbar>
<!-- </div> -->
    <mat-sidenav-container>
<mat-sidenav-content > 
    <router-outlet></router-outlet>
 </mat-sidenav-content>
</mat-sidenav-container>
</div>

