.backcontainer{
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    margin-bottom: -10px;
    flex-wrap: wrap;
  }
  .search{
    background-color: whitesmoke;
    border-radius: 4px;
    width: 40px;
    height: 42px;
  }
  
   .searchInput{
    border: none;
    outline: none;
top: 14px;
left: 334px;
width: 490px;
height: 33px;
background: #FCFCFC 0% 0% no-repeat padding-box;
border-radius: 5px;
border-top-left-radius: 0%;
border-bottom-left-radius: 0%;
opacity: 1;
height: 33px;
 margin-left: -2px;
padding-left: 13px;
  }
  .booktext{
    top: 17px;
left: 201px;
width: 91px;
height: 34px;
text-align: left;
font: Regular 20px/26px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 1;
margin-left: 74px;
  }
  // .searchIcon{
  //  //width: 561px;
  //   //margin-left:23%;
  //   outline: none;
  //   border-color: 1px whitesmoke;
  // }
  .search_icon{
    margin-left: 100%;
    position: absolute;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    //background-color: #9d2b51;
    background-color: #A03037;
}

.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}
// .image{
//     height: 33px;
//     width: 40px;
//   }
  .image{
    top: 19px;
left: 1166px;
width: 29px;
height: 34px;
  }
.image3{
    height: 33px;
    width: 40px;
  }
.image2{
    height: 44px;
    width: 44px;
    border-radius: 34px;
  }
.iconcam{
  //margin-left: 55px;
  background-color: #FFFFFF;
  height: 35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: -30%
  }
.bookimage{
    width: 31px;
    height: 24px;
    margin-left: 84px;
    padding-top: 0px;
  }
//   .bookimage{
//     top: 19px;
// left: 164px;
// width: 31px;
// height: 24px;
//   }
  .cart{
   // margin-left: 0px;
    width: 70px;
    //background-color: #9d2b51;
    background-color: #A03037;
    border: none;
    outline: blanchedalmond;
  }
  mat-card{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    margin-top: 50%;
  }
  .page{
    padding: 5px;
  }
  mat-card-content{
    margin-left: 7%;
  }
  .book{
    padding-bottom: 10px;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 9%;
  }