<div role="combobox" flex="column" style="margin-left: 10%; width: 85%;">
  <mat-card class="matcard2">
    <div
      class="cartdetails"
      fxLayout="row"
      fxLayoutAlign="start start"
      style="margin-left: 2%;"
    >
      <mat-card class="bookMatcard">
        <img class="bookimg" src="{{ book.bookImage }}" />
      </mat-card>
      <div class="bookdetails">
        <div
          class="booktitle"
          style="word-wrap: break-word; margin-bottom: 2%; font-size: 20px;"
        >
          <Strong>{{ book.bookName }}</Strong>
        </div>

        <div class="sub" style="word-wrap: break-word; margin-bottom: 4%;">
          by {{ book.bookAuthor }}
        </div>
        <div style="margin-bottom: 4%; font-size: 18px; margin-left: -25px;">
          <Strong>Rs.{{ book.bookPrice }}</Strong>
        </div>

        <div style="margin-bottom: 5%; font-size: 14px; margin-left: -25px;">
          <strong>Seller:</strong>Chandrakala
        </div>
        <div
          fxLayout="row"
          style="margin-bottom: 5%; margin-left: -25px;"
          fxLayoutGap="20%"
        >
          <button
            mat-button
            class="rating"
            style="
              background-color: rgb(18, 131, 18);
              color: white;
              border-radius: 3px;
            "
          >
            4.3<mat-icon style="font-size: 14px; margin-bottom: -8px;"
              >star</mat-icon
            >
          </button>
          <button
            mat-button
            class="rating"
            (click)="rateNow()"
            style="color: #0a0102; background-color: white;"
          >
            <strong>RATE BOOK</strong>
          </button>
        </div>
        <div fxLayout="row" style="margin-bottom: 5%;">
          <div style="font-size: 18px; margin-left: -25px;">
            <strong>Description:</strong>
          </div>
          <div
            style="
              margin-left: 6px;
              color: #9d9d9d !important;
              margin-top: 2px;
            "
          >
            {{ book.bookDescription }}
          </div>
        </div>
        <div fxLayout="row" style="margin-left: -25px;">
          <button
            *ngIf="!book.isAdded"
            mat-button
            class="add"
            (click)="addToCart()"
            style="color: white; background-color: #a03037;"
          >
            ADD TO BAG
          </button>
          <button
            *ngIf="book.isAdded"
            mat-button
            class="add"
            style="
              color: white;
              background-color: #3371b5 0% 0% no-repeat padding-box;
            "
          >
            ADDED TO BAG
          </button>
          <button
            mat-button
            *ngIf="!book.isListed"
            class="add"
            (click)="addToWishlist()"
            style="color: #0a0102; background-color: white;"
          >
            WISHLIST
          </button>
          <button
            mat-button
            *ngIf="book.isListed"
            class="add"
            style="
              color: white;
              background-color: #3371b5 0% 0% no-repeat padding-box;
            "
          >
            IN WISHLIST
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <br />
  <mat-card class="matcard2">
    <div fxLayout="column" style="margin-left: 2%;">
      <div style="font-size: 20px; margin-bottom: 4%;">
        <strong>Ratings & Reviews</strong>
      </div>
      <button
        mat-button
        class="rating"
        style="font-size: 20px; margin-right: 90%; border: none;"
      >
        <strong>4.3</strong
        ><mat-icon style="font-size: 20px; margin-bottom: -1px;">star</mat-icon>
      </button>
      <div fxLayout="row" style="margin-top: 4%;">
        <div>
          <button
            mat-button
            class="rating"
            style="background-color: rgb(18, 131, 18); color: white;"
          >
            4<mat-icon style="font-size: 14px; margin-bottom: -8px;"
              >star</mat-icon
            >
          </button>
        </div>
        <div style="margin-left: 20px;">
          Chandrakala Kirasur
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div class="foot" style="top: 720px; margin-top: 5%;">
  <app-footer></app-footer>
</div>
