<mat-card
  autocomplete="off"
  role="combobox" flex="column" class="book">
    <div class="header" style="background-color: #F5F5F5;">
        <mat-card-header>
            <img mat-card-image fxLayoutAlign="center start" src="assets/images/dontmake.png" alt="Book Photo">
        </mat-card-header>
    </div>
    <div class="content">
        <mat-card-content>
            <div class="mat-title" style="font: Regular 14px/17px Lato;">Don't Make Me Think</div>
            <mat-card-subtitle style="color: #9D9D9D;margin-top: -28px;">by Steve Krug</mat-card-subtitle>
            <div class="mat-subheading-1">Rs. 1500</div>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutGap="7%" >
            <button class="box1">ADD TO BAG</button>
            <button class="box">WISHLIST</button>
        </mat-card-actions>
    </div>
</mat-card>