<mat-card
  autocomplete="off"
  role="combobox"
  flex="column"
  matTooltip="Book details &#13; {{ book.bookDescription }}"
  matTooltipPosition="right"
  matTooltipClass="custom-tooltip"
>
  <div class="header" style="background-color: #f5f5f5;">
    <mat-card-header>
      <div class="container">
        <img
          mat-card-image
          fxLayoutAlign="center start"
          src="{{ book.bookImage }}"
          alt="Snow"
          (click)="ratingAndReviews(book)"
        />
        <button *ngIf="book.noOfBooks == 0" class="btn">
          OUT OF STOCK
        </button>
        <button
          *ngIf="noOfBooks < 6 && noOfBooks > 1; else available"
          class="btn"
        >
          Hurry! only {{ book.noOfBooks }} books are left
        </button>
        <button *ngIf="noOfBooks == 1; else available" class="btn">
          Hurry! only {{ book.noOfBooks }} book is left
        </button>
      </div>
    </mat-card-header>
  </div>
  <div class="content">
    <mat-card-content>
      <div class="mat-title" (click)="ratingAndReviews(book)">
        {{ book.bookName }}
      </div>
      <mat-card-subtitle
        style="color: #9d9d9d; margin-top: -10px; margin-bottom: 7px;"
        >by {{ book.bookAuthor }}</mat-card-subtitle
      >
      <div class="mat-subheading-1">Rs. {{ book.bookPrice }}</div>
    </mat-card-content>
    <mat-card-actions
      style="margin-bottom: -0.5%; margin-top: -1%; padding: 0 34px 0 4px;"
    >
      <button class="box4">
        4.3
        <mat-icon style="font-size: 14px; padding-bottom: -20px;"
          >star</mat-icon
        >
      </button>
    </mat-card-actions>
    <mat-card-actions fxLayout="row" fxLayoutGap="7%">
      <button
        class="box1"
        *ngIf="!book.isAdded && !book.noOfBooks == 0; else removeFromBag"
        (click)="addToCart(b)"
      >
        ADD TO BAG
      </button>
      <ng-template #removeFromBag>
        <button
          *ngIf="!book.noOfBooks == 0"
          class="added"
          id="remove-from-bag"
          (click)="removeFromCart()"
        >
          ADDED TO BAG
        </button>
      </ng-template>
      <button
        class="box"
        *ngIf="!book.isAdded && !book.noOfBooks == 0 && !book.isListed"
        (click)="addToWishlist()"
      >
        WISHLIST
      </button>
      <button
        class="box"
        *ngIf="book.isListed && !book.isAdded && book.noOfBooks != 0"
        (click)="removeFromWishlist()"
      >
        IN WISHLIST
      </button>
      <button
        *ngIf="book.noOfBooks == 0 && !book.isListed"
        class="boxOutOfStockWishList"
        id="add-to-wishlist"
        (click)="addToWishlist()"
      >
        WISHLIST
      </button>
      <button
        class="inwish"
        *ngIf="book.isListed && !book.isAdded && book.noOfBooks == 0"
        (click)="removeFromWishlist()"
      >
        IN WISHLIST
      </button>
    </mat-card-actions>
  </div>
</mat-card>
