.container {
  display: flex;
  position: relative;
  top: 112px;
  left: 177px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 120px;
  height: 100%;
}
.mycart {
  top: 135px;
  left: 213px;
  width: 85px;
  height: 62px;
  font-size: larger;
}
.booktitle {
  width: 161px;
  text-align: left;
  //font: Regular 14px/17px Lato;
  letter-spacing: 0px;
  color: #0a0102;
  opacity: 1;
  margin-left: 8%;
  height: 97px;
  position: relative;
  // position: fixed;
}

.booktitle2 {
  width: 190px;
  text-align: left;
  //font: Regular 14px/17px Lato;
  letter-spacing: 0px;
  color: #0a0102;
  opacity: 1;
  margin-left: 17%;
  //height: -28px;
  position: relative;
  margin-top: -10%;
}

.subtitle {
  opacity: 1;
  position: relative;
}
.sub {
  height: 35px;
  color: #9d9d9d;
  opacity: 1;
  margin-top: 5%;
}
.rupee {
  height: 35px;
  font: Bold 15px/18px Lato;
  color: #0a0102;
  opacity: 1;
}
.placebutton {
  margin-top: -1%;
  margin-left: 22%;
  position: absolute;
}
.mat {
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  width: 54%;
  margin-bottom: 10px;
  //padding-bottom: 5%;
  // margin-top: 21px;
}
.ordersummery {
  top: 135px;
  left: 213px;
  height: 73px;
  font-size: larger;
}
.matcard1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  width: 54%;
  //margin-bottom: 10px;
  margin-bottom: 0px;
  padding-bottom: 4%;
  //padding-bottom: 5%;
  // margin-top: 21px;
}
.matcard2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  width: 54%;
  margin-bottom: 10px;
  margin-top: 0px;
}
.input {
  width: 306px;
}
.matcard2 {
  display: flex;
  flex-direction: column;
  width: 54%;
}
.bookimg {
  top: 192px;
  left: 213px;
  width: 65px;
  height: 85px;
}
.checkout {
  border-radius: 3px;
  opacity: 1;
  margin-left: 86%;
  position: inherit;
}
