// .matcard2{
    
//     margin-top: 50px;
//     margin-left: 7px;
//     width: 284px;
//     border-radius: 14px;
//     padding-bottom: 50px;
//     padding-top: 0px;
// }
.matcard2{
    top: 112px;
left: 177px;
width: 774px;
height: 241px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 1px;
opacity: 0.24;
}