<mat-card-content>
    <div
      style="
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 400;
        font-size: 25px;
      "
    >
      Books <small style="font-size: 12px;">(128 itmes)</small>
    </div>
    <div *ngFor="let colors of images" fxLayout="row">
      <div *ngFor="let image of colors" class="colorsList" class="book">
        <app-books [image]="image"></app-books>
      </div>
    </div>
    <div>
        <app-pagination></app-pagination>
    </div>
</mat-card-content>