<mat-card-content>
  <div fxLayout="row" fxLayoutAlign="space-between end" class="bookheader">
    <div style="font-size: 25px;" class="books">
      Books <small style="font-size: 12px;">(128 itmes)</small>
    </div>
    <div>
      <button
        class="sort"
        fxLayout="row"
        fxLayoutAlign="space-between end"
        [matMenuTriggerFor]="menu1"
      >
        <div style="font-size: 12px; padding-bottom: 5%;">
          {{ sort }}
        </div>
        <div>
          <mat-icon style="color: #0a0102; opacity: 0.75;"
            >expand_more</mat-icon
          >
        </div>
      </button>
      <mat-menu #menu1="matMenu" autocomplete="off">
        <div
          style="
            width: 151px;
            height: auto;
            text-align: left;
            padding-left: 10px;
            border-radius: -10px;
          "
        >
          <div
            style="font-size: 12px; padding-bottom: 5%;"
            (click)="doSorting(sortTech1)"
          >
            <label>{{ sortTech1 }}</label>
          </div>
          <div
            style="font-size: 12px; padding-bottom: 5%;"
            (click)="sortByHighToLow()"
          >
            <label>Price:High to Low</label>
          </div>
          <div
            style="font-size: 12px; padding-bottom: 5%;"
            (click)="sortByNewArrivals()"
          >
            <label>Newest Arrivals</label>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
  <div *ngFor="let colors of images" fxLayout="row">
    <div *ngFor="let image of colors" class="colorsList" class="book">
      <app-books [image]="image"></app-books>
    </div>
  </div>
</mat-card-content>
