mat-card-content {
  margin-left: 10%;
  margin-right: 10%;
}
.book {
  padding-bottom: 10px;
  flex-direction: row;
  padding: 10px;
  padding-bottom: 30px;
}
.bookheader {
  flex-direction: row;
  padding-bottom: 2.8%;
  margin-left: 1.8%;
}
.sort {
  text-align: center;
  font-size: 12px;
  width: 161px;
  height: 30px;
  font: Regular 12px/15px Lato;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  // opacity: 1;
  margin-right: -4.5px;
}
#menu:hover {
  visibility: visible;
  transition-delay: 0s;
}
div.myMenu {
  border-radius: 0px;
  border: 1px solid #e2e2e2;
  background-color: #ffffff 0% 0% no-repeat padding-box;
}
////////////
.display-books-container {
  margin: 0 7%;
}
// simple making the note fit to page
.display-notes {
  position: relative;
  flex-wrap: wrap;
  padding: 10px;
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  float: left;
}
app-book {
  padding: 10px, 0;
}
#first {
  position: relative;
  display: block;
}
