<mat-card-content>
  <div fxLayout="row" fxLayoutAlign="space-between end" class="bookheader">
    <div style="font-size: 25px;" class="books">
      Books <small style="font-size: 12px;">(128 itmes)</small>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between end">
      <button class="sort">
        Sort by relevance
        <mat-icon style="color: #0a0102; opacity: 1;">expand_more</mat-icon>
      </button>
    </div>
  </div>
  <div *ngFor="let colors of images" fxLayout="row">
    <div *ngFor="let image of colors" class="colorsList" class="book">
      <app-books [image]="image"></app-books>
    </div>
  </div>
  <div>
    <app-pagination></app-pagination>
  </div>
</mat-card-content>
