<div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="3%">
  <button
    mat-mini-fab
    style="
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #e2e2e2;
      opacity: 1;
    "
  >
    <mat-icon
      style="
        transform: matrix(0, 1, -1, 0, 0, 0);
        background: #e2e2e2 0% 0% no-repeat padding-box;
        opacity: 1;
      "
      >chevron_left</mat-icon
    >
  </button>
  <button
    mat-mini-fab
    style="
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #e2e2e2;
      opacity: 1;
    "
  >
    <mat-icon
      style="
        transform: matrix(0, 1, -1, 0, 0, 0);
        background: #e2e2e2 0% 0% no-repeat padding-box;
        opacity: 1;
      "
      >chevron_right</mat-icon
    >
  </button>
  <button class="pagenumber"></button>
</div>
