<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="matcard2">
    Are You Sure to Verify Book?
    <div fxLayout="row wrap" style="justify-content: flex-end;">
      <button mat-icon-button (click)="onQuantity()">
        <mat-icon [ngStyle]="{ color: 'red' }">clear</mat-icon>
      </button>
      <button mat-icon-button (click)="onVerify()">
        <mat-icon [ngStyle]="{ color: 'green' }">check</mat-icon>
      </button>
    </div>
    <!-- <form (ngSubmit)="upload()" [formGroup]="form">
      <input
        ng-model="file_upload"
        name="file"
        type="file"
        (change)="fileChange($event)"
        #fileInput
        style="border: none; outline: none;"
      />
      <button mat-menu-item type="submit" style="text-align: center;">
        Upload
      </button>
    </form> -->
  </mat-card>
</div>
